body{
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    margin: 0px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: white;
    
    padding: 10px 0;
    height: 30px;
    width: 100%;
}

.header__logo-div{
    flex-shrink: 0;
    flex-basis: 100px;
}

.header__nav{
    color: hsl(233, 8%, 62%);
    font-size: 0.7em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 250px;

    height: 100%;
    width: 30%;


}

.header__nav__div{
    display: flex;
    align-items: center;

    padding: 3% 0;    
    border-bottom: 2px;
    border-bottom-style:solid;
    border-bottom-color:hsla(136, 65%, 51%, 0) ;

    height: 100%;
}

.header__nav__div:hover{
    border-bottom: 2px;
    border-bottom-style:solid ;
    border-bottom-color:hsl(136, 65%, 51%) ;
}

.header__nav__div__a{
    text-decoration: none;
}

.header__nav__div__a:link {
    color: hsl(233, 8%, 62%);
}

.header__nav__div__a:visited{
    color: hsl(233, 8%, 62%);
}


.header__nav__div__a:hover{
    color: hsl(233, 26%, 24%);
}

.header__nav__div__a:visited:hover{
    color: hsl(233, 26%, 24%);

}

.header__request-invite{
    color:white;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    flex-shrink: 0;
    flex-basis: 100px;

    background:linear-gradient(to right, hsl(136, 65%, 51%),hsl(194, 65%, 51%));

    width: 7%;
    padding: 10px 10px;
    border-radius: 25px;
}

.next-gen-sec{
    display: flex;
    flex-direction: row;
    background: hsl(0, 0%, 98%);
    overflow: hidden;
    align-items: center;

    padding-bottom: 100px;
    width: 100%;
    height: 500px;
}

.next-gen-sec__text{
    display:flex;
    flex-direction: column;
    justify-content: center;

    width: 55%;
    margin-top: 5%;
    margin-left: 12%; 
    margin-bottom: 5%;
}

.next-gen-sec__text__title{
    font-weight: 300;
    font-size: 2.5em;
}

.next-gen-sec__text__p{
    color: hsl(233, 8%, 62%);
    font-weight: 300;
}

.next-gen-sec__request-invite{
    color:white;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    background:linear-gradient(to right, hsl(136, 65%, 51%),hsl(194, 65%, 51%));

    

    width: 100px;
    padding: 13px 10px;
    border-radius: 25px;

}

.next-gen-sec__request-invite:hover{
    filter: brightness(110%);
}

.next-gen-sec__img-div{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position:relative;
}

.next-gen-sec__img-div__div1{
    grid-column: 3 / 12;
    grid-row: 1; 
    
}

.next-gen-sec__img-div__div2{
    grid-column: 5 / span 8;
    grid-row: 1; 
    padding-top: 15%; 
    z-index: 1;     
    
}

.why-sec{
    display: flex;
    flex-direction: column;
    background: hsl(220, 16%, 96%);
}

.why-sec__text{
    margin: 5% 0 0 11%;
}

.why-sec__text__title{
    font-weight: 300;
    font-size: 2em;    
}

.why-sec__text__p{
    color: hsl(233, 8%, 62%);
    font-weight: 300;   
}

.why-sec__reasons-div{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-between;

    width: 78%;
    margin: 0 11% 5% 11%; 
}

.why-sec__reasons-div__div{
    flex-basis: auto;
    flex-shrink: 0;
}

.why-sec__reasons-div__div__h3{
    font-weight: 300;
    font-size: 1.3em;      
}

.why-sec__reasons-div__div__p{
    color: hsl(233, 8%, 62%);
    font-weight: 300;        
}

.latest-sec{
    display: flex;
    flex-direction: column;
    background: hsl(0, 0%, 98%);
}

.latest-sec__text{
    margin: 5% 0 0 11%;    
}

.latest-sec__text__h2{
    font-weight: 300;    
    font-size: 2em;  
}

.latest-sec__art-div{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-between;

    width: 78%;
    margin: 0 11% 5% 11%; 
}

.latest-sec__art-div__div{
    border-radius: 10px; 
    background: white;
    overflow: hidden;

}

.latest-sec__art-div__img-div{
    height: 250px;
    width: 100%;   
}

.latest-sec__art-div__img-div__img{
    height: 100%;
    width: 100%;
}

.latest-sec__art-div__div__text{
    padding: 0 10% 10% 10%;
}

.latest-sec__art-div__div__text__h5{
    color: hsl(233, 8%, 62%);
    font-weight: 300; 

}

.latest-sec-art-div__div__text__a{
    color: hsl(233, 26%, 24%);
    text-decoration: none;
}

.latest-sec-art-div__div__text__a:link{
    color: hsl(233, 26%, 24%);
}

.latest-sec-art-div__div__text__a:visited{
    color: hsl(233, 26%, 24%);
}

.latest-sec-art-div__div__text__a:hover{
    color: hsl(136, 65%, 51%) ;
}

.latest-sec-art-div__div__text__a:visited:hover{
    color: hsl(136, 65%, 51%) ;
}

.latest-sec__art-div__div__text__h4{
    font-weight: 300; 

}

.latest-sec__art-div__div__text__p{
    color: hsl(233, 8%, 62%);
    font-weight: 300; 

}

.footer{
    color:hsl(233, 8%, 62%) ;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background: hsl(233, 26%, 24%);
    height: 150px;
    padding: 2% 0;
}


.footer__social-nav-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    flex-basis: auto;
    flex-shrink:0;
    height: 100%;
}

.footer__social-nav-div__img{
    filter: brightness(0) saturate(100%);
    filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(106deg) brightness(103%) contrast(106%);
}

.footer__social-nav-div__icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.footer__social-nav-div__icons__icon:hover{
    filter: brightness(0) saturate(100%);
    filter: invert(61%) sepia(81%) saturate(445%) hue-rotate(83deg) brightness(96%) contrast(85%);
}

.footer__menu-nav-div{
    width: 40%;
    height: 90%;
    flex-basis: auto;
    flex-shrink:0;
    
}

.footer__menu-nav-div__options{
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30%;
    padding-left: 10%;
}

.footer__menu-nav-div__options__a{
    text-decoration: none;    
}

.footer__menu-nav-div__options__a:link{
    color:hsl(233, 8%, 62%) ;   
}

.footer__menu-nav-div__options__a:visited{
    color:hsl(233, 8%, 62%) ;   
}

.footer__menu-nav-div__options__a:hover{
    color:hsl(136, 65%, 51%) ;   
}

.footer__menu-nav-div__options__a:visited:hover{
    color:hsl(136, 65%, 51%) ;   
}

.footer__copy-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: auto;
    flex-shrink:0;
}

.footer__copy-div__request-invite{
    color:white;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    background:linear-gradient(to right, hsl(136, 65%, 51%),hsl(194, 65%, 51%));

    width: 50%;
    padding: 13px 10px;
    border-radius: 25px;
}

.footer__copy-div__request-invite:hover{
    filter: brightness(110%);
}